@use "./variables" as *;
@use "sass:color";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  background: var(--color-bg);
  color: var(--color-text);
  overflow-x: hidden;
}

.market-container {
  width: min(100%, var(--container));
  margin: auto;
  padding: 0 18px;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font-family: inherit;
}

.btn-main {
  background: var(--color-primary);
  color: white;
  border: none;
  padding: 14px 22px;
  border-radius: 999px;
  font-weight: 700;
  cursor: pointer;
}