.navbar {
  height: var(--navbar);
  background: var(--primary);
  position: sticky;
  top: 0;
  z-index: 999;
  backdrop-filter: blur(12px);

  .nav-wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 180px 1fr auto;
    align-items: center;
    gap: 24px;
  }

  .logo {
    width: 100px;
  }

  .search {
    min-width: 0;

    input {
      width: 100%;
      border-radius: 999px;
      border: none;
      padding: 14px 20px;
      color: var(--color-text);
    }
    input:hover{
      zoom: 120%;
      background-color: var(--primary-dark);
      color: var(--color-text);
    }
  }

  .actions {
    display: flex;
    gap: 22px;
    color: var(--primary);
    white-space: nowrap;

    a{
      border: none;
    }
  }

  @media (max-width: 900px) {
    .nav-wrapper {
      grid-template-columns: 1fr auto;
    }

    .search {
      display: none;
    }
  }
}